<a href="https://colab.research.google.com/github/JorgeAndres1978/Github_Proyecto1/blob/main/Proyecto_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

“PROGRAMA ESPECIALIZADO CIENCIA DE DATOS CON 
PYTHON”
PROYECTO Nº 01

Ejercicio 1.
Escribir un programa que pregunte al usuario por las ventas de los 
últimos 5 días, y muestre por pantalla una serie con los datos de 
las ventas por producto: Nro de unidades y precio unitario, 
indexada por los días, antes y después de aplicarles un descuento 
del 5%.

In [172]:
import pandas as pd
comienzo = int(input('ingrese dia 1: '))
termino = int(input('ingrese día 5: '))

ventas = {} # crear un diccionario vacio de ventas
unidad = {} # crear un diccionario vacio de unidades
precio_unidad = {} # crear un diccionario vacio del precio
for i in range(comienzo, termino+1):
  ventas[i] = float(input('Introduce las ventas del día ' + str(i) +': '))
ventas = pd.Series(ventas)
for i in range(comienzo, termino+1):
  unidad[i] = float(input('Introduce las unidades del día ' + str(i) +': '))

unidad = pd.Series(unidad)
for i in range(comienzo, termino+1):
  precio_unidad[i] = float(input('Introduce el precio del producto del día ' + str(i) +': '))
unidad = pd.Series(precio_unidad)
print('Ventas\n', ventas)
print('Ventas con descuento\n', ventas*0.95)
print('Unidad\n', unidad)
print('Precio\n', precio_unidad)

ingrese dia 1: 1
ingrese día 5: 5
Introduce las ventas del día 1: 10000
Introduce las ventas del día 2: 20000
Introduce las ventas del día 3: 30000
Introduce las ventas del día 4: 40000
Introduce las ventas del día 5: 50000
Introduce las unidades del día 1: 2
Introduce las unidades del día 2: 4
Introduce las unidades del día 3: 6
Introduce las unidades del día 4: 8
Introduce las unidades del día 5: 10
Introduce el precio del producto del día 1: 5000
Introduce el precio del producto del día 2: 5000
Introduce el precio del producto del día 3: 5000
Introduce el precio del producto del día 4: 5000
Introduce el precio del producto del día 5: 5000
Ventas
 1    10000.0
2    20000.0
3    30000.0
4    40000.0
5    50000.0
dtype: float64
Ventas con descuento
 1     9500.0
2    19000.0
3    28500.0
4    38000.0
5    47500.0
dtype: float64
Unidad
 1    5000.0
2    5000.0
3    5000.0
4    5000.0
5    5000.0
dtype: float64
Precio
 {1: 5000.0, 2: 5000.0, 3: 5000.0, 4: 5000.0, 5: 5000.0}

Ejercicio 2.
Escribir un programa que reciba un diccionario con los ingresos 
mensuales de los clientes de una empresa, y devuelva una serie 
con el ingreso mínimo, máximo y media

In [ ]:
import pandas as pd

def estadistica_notas(ingr_men):
    ingr_men = pd.Series(ingr_men)
    estadisticos = pd.Series([ingr_men.min(), ingr_men.max(), ingr_men.mean()], index=['Min', 'Max', 'Media'])
    return estadisticos

ingr_men = {'cliente 1':9000000, 'cliente 2':5500000, 'cliente 3':6250895}  #son 3 clientes
print(estadistica_notas(ingr_men))

Min      5500000.0
Max      9000000.0
Media    6916965.0
dtype: float64

Ejercicio 3.
Escribir programa que genere y muestre por pantalla un DataFrame 
con los datos de la tabla siguiente:

Mes:      Enero, Febrero, Marzo, Abril, Mayo

Ventas:   30500, 35600  , 28300, 33900, 42500  

Gastos:   22000, 23450  , 18100, 35700, 32450 


A continuación, generar nuevas columna:

1. Columna 1 = Gasto/Ventas*100.
2. Columna 2 = Si Ventas>= 30000, imprimir “Meta Superada”, 
caso contrario imprimir “Meta no Superada”.
3. Columna 3 = Si Gasto>Ventas, calcular el sobre gasto.
4. Obtener el total de las ventas de los últimos 3 meses
5. Obtener el total de gastos de febrero a abril

In [ ]:
import pandas as pd
import numpy as np

datos = {'Mes':['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo'], 'Ventas':[30500, 35600, 28300, 33900, 42500], 'Gastos':[22000, 23400, 18100, 35700, 32450]}
df = pd.DataFrame(datos)
print("Balance del local")
print(df)

# Columna 1 = Gasto/Ventas*100.

Tk = (df['Gastos']/df['Ventas'])*100
df = df.assign(columna1 = Tk)
print("Balance con col1")
print(df)

# Columna 2 = Si Ventas>= 30000, imprimir “Meta Superada”, caso contrario imprimir “Meta no Superada”.
Tk2 = [
       (df['Ventas']>=30000), (df['Ventas']<30000)
       ]
values = ['Meta Superada', 'Meta no Superada']
hola = df['columna2'] = np.select(Tk2, values)
df = df.assign(columna2 = hola)
print("Balance con col1 y 2")
print(df)

# Columna 3 = Si Gasto>Ventas, calcular el sobre gasto.
diferencia = df['Ventas']-df['Gastos']
sobre_gasto = diferencia < 0
df = df.assign(columna3 = sobre_gasto)
df = df.assign(columna4 = diferencia)
print("Balance con col1, 2, 3")
print(df)

# Obtener el total de las ventas de los últimos 3 meses
hola2 = df.iloc[2:5, 1] #Fila 1, Columnas del 2 al 5 de las ventas
salida = sum(hola2)
print("La suma de los ultimos 3 meses de ventas es: " , salida)

# Obtener el total de gastos de febrero a abril
hola3 = df.iloc[3, 2] #Fila 2, Columna 3 de la variable gasto
print("El gasto del mes de abril es: " , hola3)

#Fin

Balance del local
       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   35700
4     Mayo   42500   32450
Balance con col1
       Mes  Ventas  Gastos    columna1
0    Enero   30500   22000   72.131148
1  Febrero   35600   23400   65.730337
2    Marzo   28300   18100   63.957597
3    Abril   33900   35700  105.309735
4     Mayo   42500   32450   76.352941
Balance con col1 y 2
       Mes  Ventas  Gastos    columna1          columna2
0    Enero   30500   22000   72.131148     Meta Superada
1  Febrero   35600   23400   65.730337     Meta Superada
2    Marzo   28300   18100   63.957597  Meta no Superada
3    Abril   33900   35700  105.309735     Meta Superada
4     Mayo   42500   32450   76.352941     Meta Superada
Balance con col1, 2, 3
       Mes  Ventas  Gastos    columna1          columna2  columna3  columna4
0    Enero   30500   22000   72.131148     Meta Superada     False      8500
1  Febrero   35600   23400   65.730337     Meta Superada     False     12200
2    Marzo   28300   18100   63.957597  Meta no Superada     False     10200
3    Abril   33900   35700  105.309735     Meta Superada      True     -1800
4     Mayo   42500   32450   76.352941     Meta Superada     False     10050
La suma de los ultimos 3 meses de ventas es:  104700
El gasto del mes de abril es:  35700

Ejercicio 4.
Con el siguiente fichero Data - Riesgos.csv contiene información 
de riesgo de clientes de un banco. Escribir un programa con los 
siguientes requisitos:
1. Generar un DataFrame con los datos del fichero.
2. Mostrar por pantalla las dimensiones del DataFrame, el 
número de datos que contiene, los nombres de sus columnas 
y filas, los tipos de datos de las columnas, mostrar las 10 
primeras filas y las 10 últimas filas, verificar si tiene datos 
perdidos/nulos.
3. Extraer las 100 primeras columnas y almacenarlas en un 
contenedor.

In [173]:
import pandas as pd
import numpy as np

# cargar la data con pandas y Generar un DataFrame con los datos del fichero.
df = pd.read_csv('/var/Data - Riesgos.csv') #, sep=";")
df.head()

# Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas.
df.info()

# Mostrar las 10 primeras filas y las 10 últimas filas.

df1 = df.iloc[0:10, :] # 10 primeras filas y todas las columnas
print(df1)

#  verificar si tiene datos perdidos/nulos.

df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             4500 non-null   int64
 1   edad           4487 non-null   float64
 2   meses          4494 non-null   float64
 3   max_ant        4496 non-null   float64
 4   ingreso        4495 non-null   float64
 5   score          4495 non-null   float64
 6   tipo_vivienda  4500 non-null   int64
 7   zona           4494 non-null   float64
 8   nivel          4500 non-null   int64
 9   riesgo         4500 non-null   int64
dtypes: float64(6), int64(4)
memory usage: 351.7 KB
     ID  edad  meses  max_ant  ingreso  score  tipo_vivienda  zona  nivel  \
0  2208  33.0  128.0      6.0   3230.0  192.0              2   3.0      2
1  2211  32.0  185.0      7.0   2930.0  217.0              2   1.0      5
2  2212  28.0    NaN      7.0   1883.7  202.0              2   1.0      2
3  2216  56.0  200.0      0.0    850.0  194.0              2   1.0      5
4  2218  32.0  131.0     65.0   3200.0  200.0              2   1.0      2
5  2219  34.0  145.0      6.0   7000.0  196.0              2   5.0      2
6  2226   NaN  114.0      0.0   2171.5  178.0              2   2.0      1
7  2227  27.0  116.0      0.0    800.0  169.0              2   1.0      5
8  2228  26.0  182.0      6.0   3150.0  190.0              4   3.0      5
9  2230  25.0  154.0      1.0   2600.0  189.0              2   1.0      2

   riesgo
0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1

ID                0
edad             13
meses             6
max_ant           4
ingreso           5
score             5
tipo_vivienda     0
zona              6
nivel             0
riesgo            0
dtype: int64